<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/app.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@300;400;500;600;700;800;900&display=swap"
        rel="stylesheet">
</head>

<body>
    <div class="header">
        {{>header}}
    </div>
    <div class="main">
        <div class="slide">
            <div class="filter-homes container">
                <h1>Tìm kiếm nhà đất mơ ước</h1>
                <div class="input-search">
                    <div class="input">
                        <div class="title">
                            <select name="" id="">
                                <option value="">
                                    Loại bất động sản
                                </option>
                            </select>
                        </div>
                        <input type="text" placeholder="Tìm kiếm dự án ..."></input>
                    </div>
                </div>
                <div class="address">
                    <div class="select">
                        <select name="" id="" class="city">
                            <option value="">
                                Chọn Tỉnh/Thành phố
                            </option>
                        </select>
                    </div>
                    <div class="select">
                        <select name="" id="" class="city">
                            <option value="">
                                Quận/Huyện
                            </option>
                        </select>
                    </div>
                    <div class="select">
                        <select name="" id="" class="city">
                            <option value="">
                                Kiểu dự án
                            </option>
                        </select>
                    </div>
                    <div class="select">
                        <select name="" id="" class="city">
                            <option value="">
                                Diện tích
                            </option>
                        </select>
                    </div>
                </div>
                <div class="btn">
                    <a href="#">Tìm kiếm nhanh</a>
                </div>
                 <div class="search-of-style">
                    <h5>Tìm kiếm nhanh theo kiểu dáng</h5>
                    <div class="image-style-text">
                        <div class="image-text">
                            <img src="https://bds139.maxwebsite.vn/wp-content/uploads/2020/06/collection-1.png" alt="biet-thu">
                            <p>Biệt thự</p>
                        </div>
                        <div class="image-text">
                            <img src="https://bds139.maxwebsite.vn/wp-content/uploads/2020/06/collection-2.png" alt="can-ho">
                            <p>Căn hộ</p>
                        </div>
                        <div class="image-text">
                            <img src="https://bds139.maxwebsite.vn/wp-content/uploads/2020/06/collection-4.png" alt="chung-cu">
                            <p>Chung cư</p>
                        </div>
                        <div class="image-text">
                            <img src="https://bds139.maxwebsite.vn/wp-content/uploads/2020/06/collection-3.png" alt="nha-pho">
                            <p>Nhà phố</p>
                        </div>
                        <div class="image-text">
                            <img src="https://bds139.maxwebsite.vn/wp-content/uploads/2020/06/collection-1.png" alt="nha-vuon">
                            <p>Nhàn vườn</p>
                        </div>
                    </div>
                </div>
            </div>
            <img src="https://bds139.maxwebsite.vn/wp-content/uploads/2020/05/slide-02.jpg" alt="img-slide"
                class="img-slide">
        </div>
        {{{body}}}
    </div>
    <div class="footer">
        {{>footer}}
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>

</html>