<div class="mt-4">
    <div class="row">
        <div class="col-lg-3">
            <button>Call Now</button>
        </div>

        <div class="col-lg-9">
            <iframe width="885" height="498" src="https://www.youtube.com/embed/{{product.video_id}}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <h2>{{product.name}}</h2>
            <p>{{product.desc}}</p>
        </div>
    </div>
</div>