.footer {
    background-color: rgba(0, 0, 0, 0.7);
    height: 50px;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    .container-fluid .date__copy p {
        margin-top: 0;
        margin-bottom: 0;
    }
}