.ids-img {
    width: 50%;
    height: auto;
}

.menu-dr {
    display: flex;
}

.navbar-nav {
    justify-content: space-between;
    font-weight: bold;
    font-size: 20px;
    .menu-dr {
        .nav-item {
            margin: 0 50px;
            a {
                text-decoration: none;
                color: #68ad31 !important;
            }
        }
    }
}

.dropdown {
    #navbarDropdown {
        color: #68ad31;
    }
    a {
        color: black;
        text-decoration: none;
    }
}

.avatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 5px;
}

.btn {
    margin-top: 10px;
    margin: 0;
}

.items {
    width: 100%;
}

.bg-dark {
    background-color: rgba(0, 0, 0, 0.7) !important;
}