    <div class="container-fluid">
        <div class="date__copy">
            <p>© <span id="year-now"></span>, Demo by Hoang Minh</p>
        </div>
    </div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        let date = new Date();
        let year = date.getFullYear();

        var getID = document.getElementById('year-now')
        getID.innerHTML = year;


    })
</script>